In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pymysql
import os
from dotenv import load_dotenv

In [2]:
# load environment variables from .env file
load_dotenv() 
password=os.environ.get('PyMySQL_PASSWORD')
db=os.environ.get('PyMySQL_db')


#connect to my local database in mysql
connection = pymysql.connect(host="localhost",
                             user="root",
                             password=password,
                             db=db,
                             port=3306,
                             autocommit=True)

### (1) In order to show the company order volume per overall website session growth by quarter.  I have pulled overall session and order volume, trended by quarter for the life of the business

In [3]:
query1 ='''
SELECT
	YEAR(w.created_at) AS yr,
	quarter(w.created_at) AS quarter,
	COUNT(DISTINCT w.website_session_id) AS overall_session,
    COUNT(DISTINCT o.website_session_id) AS order_volume
FROM
	website_sessions w
LEFT JOIN
	orders o
    ON w.website_session_id = o.website_session_id
GROUP BY
	YEAR(w.created_at),quarter(w.created_at);
'''
df1 = pd.read_sql_query(query1,con = connection)

In [4]:
df1

      yr  quarter  overall_session  order_volume
0   2012        1             1879            60
1   2012        2            11433           347
2   2012        3            16892           684
3   2012        4            32266          1495
4   2013        1            19833          1273
5   2013        2            24745          1718
6   2013        3            27663          1840
7   2013        4            40540          2616
8   2014        1            46779          3069
9   2014        2            53129          3848
10  2014        3            57141          4035
11  2014        4            76373          5908
12  2015        1            64198          5420

### (2) Next, let's showcase all four efficiency improvements.  I've here shown quarterly figures since we launched, for session-to-order conversion rate, revenue per order and revenue per session

In [5]:
query2 ='''
SELECT
	YEAR(w.created_at) AS yr,
	quarter(w.created_at) AS quarter,
    COUNT(DISTINCT o.website_session_id)/COUNT(DISTINCT w.website_session_id) AS conv_rate,
    SUM(o.price_usd)/ COUNT(DISTINCT o.website_session_id) AS revenue_per_order,
    SUM(o.price_usd)/ COUNT(DISTINCT w.website_session_id) AS revenue_per_session
FROM
	website_sessions w
LEFT JOIN
	orders o
    ON w.website_session_id = o.website_session_id
GROUP BY
	YEAR(w.created_at),quarter(w.created_at);
'''
df2 = pd.read_sql_query(query2,con = connection)

In [6]:
df2

      yr  quarter  conv_rate  revenue_per_order  revenue_per_session
0   2012        1     0.0319          49.990000             1.596275
1   2012        2     0.0304          49.990000             1.517233
2   2012        3     0.0405          49.990000             2.024222
3   2012        4     0.0463          49.990000             2.316217
4   2013        1     0.0642          52.142396             3.346809
5   2013        2     0.0694          51.538312             3.578211
6   2013        3     0.0665          51.734533             3.441114
7   2013        4     0.0645          54.715688             3.530741
8   2014        1     0.0656          62.160684             4.078136
9   2014        2     0.0724          64.374207             4.662462
10  2014        3     0.0706          64.494949             4.554298
11  2014        4     0.0774          63.793497             4.934885
12  2015        1     0.0844          62.799917             5.301965

### (3)This has shown how the company grown specific channels. I have pulled a quarterly view of orders from Gsearch nonbrand, Bsearch nonbrand, brand search overall, organic search, and direct type-in

In [7]:
query3 ='''
SELECT
	YEAR(orders_by_specific_channels.created_at) AS yr,
    quarter(orders_by_specific_channels.created_at) AS quarter ,
    COUNT(DISTINCT CASE WHEN channels = "gsearch_nonbrand" THEN website_session_id ELSE NULL END) AS gsearch_nonbrand,
    COUNT(DISTINCT CASE WHEN channels = "bsearch_nonbrand" THEN website_session_id ELSE NULL END) AS bsearch_nonbrand,
    COUNT(DISTINCT CASE WHEN channels = "brand_search" THEN website_session_id ELSE NULL END) AS brand_search,
    COUNT(DISTINCT CASE WHEN channels = "organic_search" THEN website_session_id ELSE NULL END) AS organic_search,
	COUNT(DISTINCT CASE WHEN channels = "direct_type_in" THEN website_session_id ELSE NULL END) AS direct_type_in
FROM
(SELECT
	w.created_at,
	-- quarter(w.created_at) AS quarter,
    o.website_session_id,
    CASE
		WHEN utm_source = 'gsearch' AND utm_campaign = "nonbrand" THEN "gsearch_nonbrand"
		WHEN utm_source = 'bsearch' AND utm_campaign = "nonbrand" THEN "bsearch_nonbrand"
		WHEN utm_campaign = "brand" THEN "brand_search"
		WHEN utm_source IS NULL AND utm_campaign IS NULL AND  http_referer IS NOT NULL THEN  "organic_search"
		WHEN utm_source IS NULL AND utm_campaign IS NULL AND  http_referer IS NULL THEN "direct_type_in"
	ELSE "others" END AS channels
FROM
	website_sessions w
LEFT JOIN
	orders o
    ON w.website_session_id = o.website_session_id) AS orders_by_specific_channels
GROUP BY
	YEAR(orders_by_specific_channels.created_at),quarter(orders_by_specific_channels.created_at)
ORDER BY
	YEAR(orders_by_specific_channels.created_at), quarter(orders_by_specific_channels.created_at);
'''
df3 = pd.read_sql_query(query3,con = connection)

In [8]:
df3 # order volume by channels

,yr,quarter,gsearch_nonbrand,bsearch_nonbrand,brand_search,organic_search,direct_type_in
0,2012,1,60,0,0,0,0
1,2012,2,291,0,20,15,21
2,2012,3,482,82,48,40,32
3,2012,4,913,311,88,94,89
4,2013,1,766,183,108,125,91
5,2013,2,1114,237,114,134,119
6,2013,3,1132,245,153,167,143
7,2013,4,1657,291,248,223,197
8,2014,1,1667,344,354,338,311
9,2014,2,2208,427,410,436,367
10,2014,3,2259,434,432,445,402
11,2014,4,3248,683,615,605,532
12,2015,1,3025,581,622,640,552

### (4)Next, let's show the overall session-to-order conversion rate trends for those same channels, by quarter.

In [9]:
try:
    query4i ='''
    CREATE TEMPORARY TABLE sessions_and_orders_by_specific_channels
    SELECT
        w.created_at,
        -- quarter(w.created_at) AS quarter,
        o.website_session_id AS order_session_id,
        w.website_session_id AS all_session_id,
        CASE
            WHEN utm_source = 'gsearch' AND utm_campaign = "nonbrand" THEN "gsearch_nonbrand"
            WHEN utm_source = 'bsearch' AND utm_campaign = "nonbrand" THEN "bsearch_nonbrand"
            WHEN utm_campaign = "brand" THEN "brand_search"
            WHEN utm_source IS NULL AND utm_campaign IS NULL AND  http_referer IS NOT NULL THEN  "organic_search"
            WHEN utm_source IS NULL AND utm_campaign IS NULL AND  http_referer IS NULL THEN "direct_type_in"
        ELSE "others" END AS channels
    FROM
        website_sessions w
    LEFT JOIN
        orders o
        ON w.website_session_id = o.website_session_id;
    ''' 
    pd.read_sql_query(query4i,con = connection)

except Exception:
    pass
finally:
    query4i ='''
    SELECT
        w.created_at,
        -- quarter(w.created_at) AS quarter,
        o.website_session_id AS order_session_id,
        w.website_session_id AS all_session_id,
        CASE
            WHEN utm_source = 'gsearch' AND utm_campaign = "nonbrand" THEN "gsearch_nonbrand"
            WHEN utm_source = 'bsearch' AND utm_campaign = "nonbrand" THEN "bsearch_nonbrand"
            WHEN utm_campaign = "brand" THEN "brand_search"
            WHEN utm_source IS NULL AND utm_campaign IS NULL AND  http_referer IS NOT NULL THEN  "organic_search"
            WHEN utm_source IS NULL AND utm_campaign IS NULL AND  http_referer IS NULL THEN "direct_type_in"
        ELSE "others" END AS channels
    FROM
        website_sessions w
    LEFT JOIN
        orders o
        ON w.website_session_id = o.website_session_id;
    ''' 
    pd.read_sql_query(query4i,con = connection)

query4ii ='''
SELECT
	YEAR(created_at) AS year,
    quarter(created_at) AS quarter ,
	COUNT(DISTINCT CASE WHEN channels = "gsearch_nonbrand" THEN order_session_id ELSE NULL END) /COUNT(DISTINCT CASE WHEN channels = "gsearch_nonbrand" THEN all_session_id ELSE NULL END) AS gsearch_nonbrand_cr,
    COUNT(DISTINCT CASE WHEN channels = "bsearch_nonbrand" THEN order_session_id ELSE NULL END) / COUNT(DISTINCT CASE WHEN channels = "bsearch_nonbrand" THEN all_session_id ELSE NULL END) AS bsearch_nonbrand_cr,
    COUNT(DISTINCT CASE WHEN channels = "brand_search" THEN order_session_id ELSE NULL END)/COUNT(DISTINCT CASE WHEN channels = "brand_search" THEN all_session_id ELSE NULL END) AS brand_search_cr,
    COUNT(DISTINCT CASE WHEN channels = "organic_search" THEN order_session_id ELSE NULL END)/COUNT(DISTINCT CASE WHEN channels = "organic_search" THEN all_session_id ELSE NULL END) AS organic_search_cr,
	COUNT(DISTINCT CASE WHEN channels = "direct_type_in" THEN order_session_id ELSE NULL END)/COUNT(DISTINCT CASE WHEN channels = "direct_type_in" THEN all_session_id ELSE NULL END) AS direct_type_in_cr
FROM
	sessions_and_orders_by_specific_channels
GROUP BY
	YEAR(created_at),quarter(created_at)
ORDER BY
	YEAR(created_at), quarter(created_at);
'''
df4 = pd.read_sql_query(query4ii,con = connection)

In [10]:
df4 #conversion rate by channels

,year,quarter,gsearch_nonbrand_cr,bsearch_nonbrand_cr,brand_search_cr,organic_search_cr,direct_type_in_cr
0,2012,1,0.0324,NaN,0.0000,0.0000,0.0000
1,2012,2,0.0284,NaN,0.0526,0.0359,0.0536
2,2012,3,0.0384,0.0408,0.0602,0.0498,0.0443
3,2012,4,0.0436,0.0497,0.0531,0.0539,0.0537
4,2013,1,0.0612,0.0693,0.0703,0.0753,0.0614
5,2013,2,0.0685,0.0690,0.0679,0.0760,0.0735
6,2013,3,0.0639,0.0697,0.0703,0.0734,0.0719
7,2013,4,0.0629,0.0601,0.0801,0.0694,0.0647
8,2014,1,0.0693,0.0704,0.0839,0.0756,0.0765
9,2014,2,0.0702,0.0695,0.0804,0.0797,0.0738
10,2014,3,0.0703,0.0698,0.0756,0.0733,0.0702
11,2014,4,0.0782,0.0841,0.0812,0.0784,0.0748
12,2015,1,0.0861,0.0850,0.0852,0.0821,0.0775

### (5)We’ve come a long way since the days of selling a single product. Let’s pull monthly trending for revenue and margin by product, along with total sales and revenue. Note anything you notice about seasonality.

In [11]:
query5 ='''
SELECT
	YEAR(created_at) AS year,
    MONTH(created_at) AS month,
    SUM(price_usd) AS total_sales,
    SUM(CASE WHEN product_id = 1 THEN price_usd ELSE 0 END) AS sales_prod_1,
	SUM(CASE WHEN product_id = 2 THEN price_usd ELSE 0 END) AS sales_prod_2,
    SUM(CASE WHEN product_id = 3 THEN price_usd ELSE 0 END) AS sales_prod_3,
    SUM(CASE WHEN product_id = 4 THEN price_usd ELSE 0 END) AS sales_prod_4,
	SUM(CASE WHEN product_id = 1 THEN price_usd - cogs_usd ELSE 0 END) AS margin_prod_1,
	SUM(CASE WHEN product_id = 2 THEN price_usd - cogs_usd ELSE 0 END) AS margin_prod_2,
    SUM(CASE WHEN product_id = 3 THEN price_usd - cogs_usd ELSE 0 END) AS margin_prod_3,
    SUM(CASE WHEN product_id = 4 THEN price_usd - cogs_usd ELSE 0 END) AS margin_prod_4

FROM
order_items
GROUP BY
	YEAR(created_at),
    MONTH(created_at) ;

'''
df5 = pd.read_sql_query(query5,con = connection)

In [12]:
df5 # revenue and margin by products

,year,month,total_sales,sales_prod_1,sales_prod_2,sales_prod_3,sales_prod_4,margin_prod_1,margin_prod_2,margin_prod_3,margin_prod_4
0,2012,3,2999.40,2999.40,0.00,0.00,0.00,1830.0,0.0,0.0,0.0
1,2012,4,4949.01,4949.01,0.00,0.00,0.00,3019.5,0.0,0.0,0.0
2,2012,5,5398.92,5398.92,0.00,0.00,0.00,3294.0,0.0,0.0,0.0
3,2012,6,6998.60,6998.60,0.00,0.00,0.00,4270.0,0.0,0.0,0.0
4,2012,7,8448.31,8448.31,0.00,0.00,0.00,5154.5,0.0,0.0,0.0
5,2012,8,11397.72,11397.72,0.00,0.00,0.00,6954.0,0.0,0.0,0.0
6,2012,9,14347.13,14347.13,0.00,0.00,0.00,8753.5,0.0,0.0,0.0
7,2012,10,18546.29,18546.29,0.00,0.00,0.00,11315.5,0.0,0.0,0.0
8,2012,11,30893.82,30893.82,0.00,0.00,0.00,18849.0,0.0,0.0,0.0
9,2012,12,25294.94,25294.94,0.00,0.00,0.00,15433.0,0.0,0.0,0.0
10,2013,1,19966.10,17146.57,2819.53,0.00,0.00,10461.5,1762.5,0.0,0.0
11,2013,2,26515.02,16796.64,9718.38,0.00,0.00,10248.0,6075.0,0.0,0.0
12,2013,3,19896.15,15996.80,3899.35,0.00,0.00,9760.0,2437.5,0.0,0.0
13,2013,4,28584.47,22945.41,5639.06,0.00,0.00,13999.5,3525.0,0.0,0.0
14,2013,5,29364.29,24445.11,4919.18,0.00,0.00,14914.5,3075.0,0.0,0.0
15,2013,6,30544.07,25144.97,5399.10,0.00,0.00,15341.5,3375.0,0.0,0.0
16,2013,7,31143.96,25444.91,5699.05,0.00,0.00,15524.5,3562.5,0.0,0.0
17,2013,8,31373.92,25494.90,5879.02,0.00,0.00,15555.0,3675.0,0.0,0.0
18,2013,9,32723.65,26844.63,5879.02,0.00,0.00,16378.5,3675.0,0.0,0.0
19,2013,10,38242.62,30143.97,8098.65,0.00,0.00,18391.5,5062.5,0.0,0.0
20,2013,11,46631.02,36192.76,10438.26,0.00,0.00,22082.0,6525.0,0.0,0.0
21,2013,12,58262.60,40891.82,10978.17,6392.61,0.00,24949.0,6862.5,4378.5,0.0
22,2014,1,56568.89,36392.72,10978.17,9198.00,0.00,22204.0,6862.5,6300.0,0.0
23,2014,2,66012.52,29194.16,21056.49,9703.89,6057.98,17812.0,13162.5,6646.5,4141.0
24,2014,3,68189.73,39242.15,11578.07,11221.56,6147.95,23942.5,7237.5,7686.0,4202.5
25,2014,4,78725.43,45840.83,12837.86,12279.33,7767.41,27968.5,8025.0,8410.5,5309.5
26,2014,5,88935.27,51489.70,14757.54,13751.01,8937.02,31415.0,9225.0,9418.5,6109.0
27,2014,6,80051.25,44641.07,14697.55,13245.12,7467.51,27236.5,9187.5,9072.0,5104.5
28,2014,7,83288.55,48040.39,14637.56,12693.24,7917.36,29310.5,9150.0,8694.0,5412.0
29,2014,8,84716.08,47890.42,14217.63,13521.06,9086.97,29219.0,8887.5,9261.0,6211.5
30,2014,9,92232.49,52789.44,15057.49,14578.83,9806.73,32208.0,9412.5,9985.5,6703.5
31,2014,10,103905.98,58638.27,17037.16,16924.32,11306.23,35776.5,10650.0,11592.0,7728.5
32,2014,11,128162.98,72535.49,22616.23,19545.75,13465.51,44255.5,14137.5,13387.5,9204.5
33,2014,12,144823.02,79184.16,23216.13,24788.61,17634.12,48312.0,14512.5,16978.5,12054.0
34,2015,1,132211.54,69586.08,23636.06,20695.50,18293.90,42456.0,14775.0,14175.0,12505.0
35,2015,2,129212.94,55638.87,38633.56,18625.95,16314.56,33946.5,24150.0,12757.5,11152.0
36,2015,3,78951.07,43191.36,13377.77,12095.37,10286.57,26352.0,8362.5,8284.5,7031.5

### (6) Let’s dive deeper into the impact of introducing new products. Please pull monthly sessions to  the /products page, and show how the % of those sessions clicking through another page has changed over time, along with a view of how conversion from /products to placing an order has improved.

In [13]:
try:       
    query6i ='''
    CREATE TEMPORARY TABLE products_pageviews
    SELECT
        website_session_id, 
        website_pageview_id, 
        created_at AS saw_product_page_at

    FROM website_pageviews 
    WHERE pageview_url = '/products';
    '''
    pd.read_sql_query(query6i,con = connection)
    
except Exception:
    pass

finally:
    query6i ='''
    SELECT
        website_session_id, 
        website_pageview_id, 
        created_at AS saw_product_page_at

    FROM website_pageviews 
    WHERE pageview_url = '/products';
    '''
    pd.read_sql_query(query6i,con = connection)

query6ii ='''
SELECT 
	YEAR(saw_product_page_at) AS yr, 
    MONTH(saw_product_page_at) AS mo,
    COUNT(DISTINCT products_pageviews.website_session_id) AS sessions_to_product_page, 
    COUNT(DISTINCT website_pageviews.website_session_id) AS clicked_to_next_page, 
    COUNT(DISTINCT website_pageviews.website_session_id)/COUNT(DISTINCT products_pageviews.website_session_id) AS clickthrough_rt,
    COUNT(DISTINCT orders.order_id) AS orders,
    COUNT(DISTINCT orders.order_id)/COUNT(DISTINCT products_pageviews.website_session_id) AS products_to_order_rt
FROM products_pageviews
	LEFT JOIN website_pageviews 
		ON website_pageviews.website_session_id = products_pageviews.website_session_id -- same session
        AND website_pageviews.website_pageview_id > products_pageviews.website_pageview_id -- they had another page AFTER
	LEFT JOIN orders 
		ON orders.website_session_id = products_pageviews.website_session_id
GROUP BY 1,2
;
'''
df6 = pd.read_sql_query(query6ii,con = connection)

In [14]:
df6 #website sessions to product page clicked through rate and product to order page conversion rate

,yr,mo,sessions_to_product_page,clicked_to_next_page,clickthrough_rt,orders,products_to_order_rt
0,2012,3,743,530,0.7133,60,0.0808
1,2012,4,1447,1029,0.7111,99,0.0684
2,2012,5,1584,1135,0.7165,108,0.0682
3,2012,6,1752,1247,0.7118,140,0.0799
4,2012,7,2018,1438,0.7126,169,0.0837
5,2012,8,3012,2198,0.7297,228,0.0757
6,2012,9,3126,2258,0.7223,287,0.0918
7,2012,10,4030,2948,0.7315,371,0.0921
8,2012,11,6743,4849,0.7191,618,0.0917
9,2012,12,5013,3620,0.7221,506,0.1009
10,2013,1,3380,2595,0.7678,391,0.1157
11,2013,2,3685,2803,0.7607,497,0.1349
12,2013,3,3371,2576,0.7642,385,0.1142
13,2013,4,4362,3356,0.7694,553,0.1268
14,2013,5,4684,3609,0.7705,571,0.1219
15,2013,6,4600,3536,0.7687,594,0.1291
16,2013,7,5020,3890,0.7749,603,0.1201
17,2013,8,5226,3951,0.7560,608,0.1163
18,2013,9,5399,4072,0.7542,629,0.1165
19,2013,10,6038,4564,0.7559,708,0.1173
20,2013,11,7886,5900,0.7482,861,0.1092
21,2013,12,8840,7026,0.7948,1047,0.1184
22,2014,1,7790,6387,0.8199,983,0.1262
23,2014,2,7960,6485,0.8147,1021,0.1283
24,2014,3,8110,6669,0.8223,1065,0.1313
25,2014,4,9744,7958,0.8167,1241,0.1274
26,2014,5,10261,8465,0.8250,1368,0.1333
27,2014,6,10011,8260,0.8251,1239,0.1238
28,2014,7,10837,8958,0.8266,1287,0.1188
29,2014,8,10768,8980,0.8340,1324,0.1230
30,2014,9,11128,9156,0.8228,1424,0.1280
31,2014,10,12335,10235,0.8298,1609,0.1304
32,2014,11,14476,12020,0.8303,1985,0.1371
33,2014,12,17240,14609,0.8474,2314,0.1342
34,2015,1,15217,12992,0.8538,2099,0.1379
35,2015,2,14373,12187,0.8479,2067,0.1438
36,2015,3,9022,7723,0.8560,1254,0.1390

### (7) We made our 4th product available as a primary product on December 05, 2014 (it was previously only a cross-sell item). Could you please pull sales data since then, and show how well each product cross-sells from one another?

In [15]:
try:
    query7i ='''
    CREATE TEMPORARY TABLE primary_products
    SELECT 
        order_id, 
        primary_product_id, 
        created_at AS ordered_at
    FROM orders 
    WHERE created_at > '2014-12-05' 
    ;

    '''
    pd.read_sql_query(query7i,con = connection)
except Exception:
    pass
finally:
    query7i ='''
    SELECT 
        order_id, 
        primary_product_id, 
        created_at AS ordered_at
    FROM orders 
    WHERE created_at > '2014-12-05' 
    ;

    '''
    pd.read_sql_query(query7i,con = connection)

In [16]:
query7ii ='''

SELECT 
	primary_product_id, 
    COUNT(DISTINCT order_id) AS total_orders, 
    COUNT(DISTINCT CASE WHEN cross_sell_product_id = 1 THEN order_id ELSE NULL END) AS x_sold_p1,
    COUNT(DISTINCT CASE WHEN cross_sell_product_id = 2 THEN order_id ELSE NULL END) AS x_sold_p2,
    COUNT(DISTINCT CASE WHEN cross_sell_product_id = 3 THEN order_id ELSE NULL END) AS x_sold_p3,
    COUNT(DISTINCT CASE WHEN cross_sell_product_id = 4 THEN order_id ELSE NULL END) AS x_sold_p4,
    COUNT(DISTINCT CASE WHEN cross_sell_product_id = 1 THEN order_id ELSE NULL END)/COUNT(DISTINCT order_id) AS p1_xsell_rt,
    COUNT(DISTINCT CASE WHEN cross_sell_product_id = 2 THEN order_id ELSE NULL END)/COUNT(DISTINCT order_id) AS p2_xsell_rt,
    COUNT(DISTINCT CASE WHEN cross_sell_product_id = 3 THEN order_id ELSE NULL END)/COUNT(DISTINCT order_id) AS p3_xsell_rt,
    COUNT(DISTINCT CASE WHEN cross_sell_product_id = 4 THEN order_id ELSE NULL END)/COUNT(DISTINCT order_id) AS p4_xsell_rt
FROM
(
SELECT
	primary_products.*, 
    order_items.product_id AS cross_sell_product_id
FROM primary_products
	LEFT JOIN order_items 
		ON order_items.order_id = primary_products.order_id
        AND order_items.is_primary_item = 0 -- only bringing in cross-sells
) AS primary_w_cross_sell
GROUP BY 1;
'''
df7 = pd.read_sql_query(query7ii,con = connection)

In [17]:
df7 #cross-sell of all products from one another

,primary_product_id,total_orders,x_sold_p1,x_sold_p2,x_sold_p3,x_sold_p4,p1_xsell_rt,p2_xsell_rt,p3_xsell_rt,p4_xsell_rt
0,1,4467,0,238,553,933,0.0000,0.0533,0.1238,0.2089
1,2,1277,25,0,40,260,0.0196,0.0000,0.0313,0.2036
2,3,929,84,40,0,208,0.0904,0.0431,0.0000,0.2239
3,4,581,16,9,22,0,0.0275,0.0155,0.0379,0.0000